<div class="container-room-data">
    <div class="title">
        <label>{{ roomService.edit ? "Atualizar sala" : "Nova sala" }}</label>
    </div>
    <form autocomplete="off" novalidate [formGroup]="roomForm">
        <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" class="form-control" id="nameMeeting" placeholder="Nome da sala" formControlName="nameMeeting">
        </div>
        <div class="form-group">
            <label for="date">Data</label>
            <input type="date" class="form-control" id="date" placeholder="Data da reunião" formControlName="date">
        </div>
        <div class="form-group">
            <label for="startHour">Hora de início</label>
            <input type="time" class="form-control" id="startHour" placeholder="00:00" formControlName="startHour">
        </div>
        <div class="form-group">
            <label for="endHour">Hora de termíno</label>
            <input type="time" class="form-control" id="endHour" placeholder="00:00" formControlName="endHour">
        </div>
    
        <div class="form action">
            <button type="reset" class="btn btn-danger" (click)="cancelForm()">Cancelar</button>
            <button type="submit" class="btn btn-success" [disabled]="roomForm.invalid" (click)="onSave()">Salvar</button>
        </div>
    </form>
</div>